body {
  margin: 0;
  background: #282937;
  font-family: 'Helvetica', 'Helvetica Nueue', sans-serif;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
}

.clock{
  display: flex;
  position: absolute;
  top: 150px;
  font-size: 40px;
  align-items: center;
  justify-content: center;
}

.btn-row{
  display: flex;
  position: absolute;
  align-items: center;
  /* flex-direction: row;
  align-self: stretch;
  justify-content: space-between; */
  justify-content: center;
  margin: 4rem;
} 


.play {
  font-family: fantasy;
  font-size: 18px;
  color: #FFFFFF;
  background: #3D3D3D;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}

.stop{
    font-family: fantasy;
    font-size: 18px;
    color: #FFFFFF;
    background: #3D3D3D;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
  }


.reset {
  background: #3D3D3D;
  color: #fafafa;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}
  
