html{
  height: 100%;
  margin: auto;
  width: 960px;
  overflow: scroll;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  outline: none;
}

/* body{
  height: 100%;
} */

h1 {
  margin: 5px;
}

p {
  margin: 5px;
}

/* .uglyThing-cont {  
  width: 60%;
  height: 100%;
  margin-top: 50px;
  left: 20%;
  
} */

.form {
  position: fixed;
  z-index: 9;
  text-align: center;
  background-color: silver;
  box-shadow: 3px 5px 5px 5px #888888;
  padding: 10px;
  margin-top: -4px;
  width: 75%;
  height: 30%;
  left: 12%;
}

.uglyThing {
  position: relative;
  top: 190px;
  left: 13%;
  text-align: center;
  background-color: silver;
  width: 73%;
  box-shadow: 5px 5px 5px 5px #888888;
  padding: 10px;
  margin: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 8px;
  margin: 25px 7px;
}

.add-btn {
  padding: 5px;
  margin-top: 2%;
  border-radius: 4px;
  font-size: 16px;
}

.delete-btn {
  background-color: firebrick;
  color: whitesmoke;
}

.edit-btn {
  background-color: cornflowerblue;
  color: whitesmoke;
}
